

<table class="table">
<% @users.each do |user| %>
     <tr>
        <td><%= user.name %></td>
        <td><%= user.role %> <%= link_to "Cambiar rol", page_path(user), method: :put, class: "btn btn-success" %>
        </td>
        <td><%= link_to "Eliminar Usuario", page_path(user), method: :delete, class:"btn btn-danger"  %></td>
     </tr>
 <% end %>
